PORT=3000

# https://dashboard.stripe.com/test/dashboard
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1S0tK3JvCDspzzVK1MR18BE5/events
# Signing secret
STRIPE_ENDPOINT_SECRET=
NATS_SERVERS="nats://localhost:4222"